body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:831px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:831px;
}
#u74 {
  position:absolute;
  left:2px;
  top:408px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:239px;
}
#u75 {
  position:absolute;
  left:0px;
  top:900px;
  width:1366px;
  height:239px;
}
#u76 {
  position:absolute;
  left:2px;
  top:112px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:81px;
}
#u77 {
  position:absolute;
  left:533px;
  top:700px;
  width:279px;
  height:81px;
}
#u78 {
  position:absolute;
  left:2px;
  top:32px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:2px;
}
#u79 {
  position:absolute;
  left:247px;
  top:718px;
  width:872px;
  height:1px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-8px;
  width:868px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:438px;
  top:735px;
  width:122px;
  height:16px;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0033CC;
}
#u83 {
  position:absolute;
  left:551px;
  top:735px;
  width:188px;
  height:16px;
  font-size:13px;
  color:#0033CC;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0033CC;
}
#u85 {
  position:absolute;
  left:741px;
  top:735px;
  width:193px;
  height:16px;
  font-size:13px;
  color:#0033CC;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0033CC;
}
#u87 {
  position:absolute;
  left:551px;
  top:758px;
  width:142px;
  height:16px;
  font-size:13px;
  color:#0033CC;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:834px;
  top:735px;
  width:15px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u91 {
  position:absolute;
  left:551px;
  top:781px;
  width:221px;
  height:16px;
  color:#FF0000;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:67px;
}
#u93 {
  position:absolute;
  left:181px;
  top:806px;
  width:1002px;
  height:67px;
}
#u94 {
  position:absolute;
  left:2px;
  top:26px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u95 {
  position:absolute;
  left:627px;
  top:818px;
  width:111px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
